.app {

  width: 100%;
  padding: 6em 2em;
  padding-bottom: 6em;
  max-width: 1260px;
  margin: auto;
  display: flex;
  gap: 2em;

}

.navbar, .main {
  flex:1;
  padding: 0.5em

}

@media screen and (max-width:860px) {

  .app {
    flex-direction: column;
    padding: 0 2em;
  }

  .navbar {
    position: relative;
    margin-bottom: 5em;
  }

  .header{
    gap: 2em;
  }

  .navline {

    display: none;

  }
  
}