* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --main-bg-color :  #0f172e;
    --main-txt-color: rgb(170, 167, 167);
    --main-font: 'Lato',sans-serif;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    font-family: var(--main-font);
}