* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 6em;
}

:root {

    --main-bg-color :  #0f172e;
    --main-txt-color: rgb(148 163 184);
    --main-font: 'Mulish', sans-serif;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    font-family: var(--main-font);
}
