.main {
  display: flex;
  flex-direction: column;
  gap: 6em;
}

.experience_cards {

display: flex;
flex-direction: column;
gap: 2em;

}

.project_cards {

display: flex;
flex-direction: column;
gap: 3em;

}

section > h4 {

margin-bottom: 1em;

}