.navbar {
    width: var(--main-width-90);
    height: 5%;
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlist {
    height: 100%;
    width: var(--main-width-90);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}