.profilecard {
    height: 20%;
    width: var(--main-width-90);
    display: flex;
    justify-content: flex-start;
    padding-top: 1em;
    gap: 1.5em;
}

.userpict {
    height: 100%;
    width: 30%;
}

#photo {
    transform: scaleX(-1);
    height: 100%;
    border-radius: 10%;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}