.navbar {
  position: sticky;
  top: 6em;
  height: calc(100vh - 12em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4em;
}


.navline {
  all:unset;
  cursor:pointer;
  display: flex;
  align-items: center;
  gap: 0.8em;
  width: 20em;
  color: var(--main-txt-color);
  letter-spacing: .2em;
}


.navline:hover {
  color: rgb(225, 225, 225);
}

.navline:hover .line {
  width: 4em;
  background-color:  rgb(225, 225, 225);
}

.navline .line {
  height: 1px;
  width: 1.5em;
  background-color:  rgba(170, 167, 167, 0.5);
  transition: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .40s;

}

.active .line {

  width: 4em;
  background-color:  rgb(225, 225, 225);

}

.active li {

  color: rgb(225, 225, 225);

}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header li {
  font-size: 0.8em;
  font-weight: 900;
}

@media screen and (max-width:860px) {

  .main {
    flex-direction: column;
    padding: 0 2em;
  }

  .navbar {
    position: relative;
    margin-bottom: 5em;
  }

  .header{
    gap: 2em;
  }

  .navline {
    display: none;
  }

.content section > h4 {
  display:block;
}
  
}


