.card_container {

  display: flex;
  gap: 1.5em;
  padding: 1em;
  border-radius: .8em;

}

.card_container:hover {

  background-color: rgba(212, 227, 226, 0.067);
  transition: .5s;
  color: rgb(225, 225, 225);


}

.card_duration {

  width: 30%;
  padding-top: .25em;
  text-align: left;
  font-size: 0.8em;
  font-weight: 750;

}

.card_title {
  display: flex;
  flex-direction: column;
}

.card_content {

width: 70%;
display: flex;
flex-direction: column;
gap: .9em;

}

.card_content p {

text-align: justify;

}

.exp_techs {
  display: flex;
  flex-wrap: wrap;
  gap:.5em
}

.exp_tech {
  padding: .3em .8em;
  border-radius: .8em;
  font-size: .9em;
  background-color:rgba(19, 78, 74, 0.6) ;
  color: rgb(94 234 212)

}